:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
.row{
  display: flex;
  gap: 10px;
}
.content{
  padding-top: 10px;
}
.row mat-form-field{
  width: 300px;
}
.row .twoRows{
  width: 100%;
}
.action{
  padding: 0 25px 20px;

}
button{
  display: flex;
  flex: 1;
}